
/*头部菜单*/
#lup-all{min-width: 980px;}
#Y-top{
    background: #FF4500;
    box-sizing: border-box;
}
/*头部左边*/
#Y-top p{
    height: 20px;
    line-height: 20px;
    color: #fff;
    float:left;
}
#Y-top p>a{
    color:#fff;
    text-decoration: underline;
}
#Y-top span{
    color:#FFCC00; 
}
/*=====================头部右边 Y-top_r========================*/
#Y-top .Y-top_r li{
    float: left;
    line-height: 20px; 
    position: relative;
}
#Y-top .Y-top_r>li:nth-child(2){
    color:#fff; 
    padding:0 19px 0 23px ;
}
#Y-top .Y-top_r li a{
    display:  block;
    height: 20px;
    line-height: 20px;
    text-decoration: underline;
    color:#fff;
    padding:0 18px 0 19px ;
}
#Y-top .Y-top_r>li>i{
    display: block;
    position: absolute;
    width: 17px;
    top: 4px;
    right:0;
    height: 12px;
    background: url("../images/caidian.fw.png") no-repeat;
    background-position: -30px 0;
}
#Y-top .Y-top_r>li .icon_wenhao{
    left:0;
    background-position: -60px 0;
}
#Y-top .Y-top_r>li .icon_gouwu{
    left:0;
    background-position: 0 -22px;
}
/*=====================设置第一个头部菜单 Y-top_ul=========================*/
#Y-top .Y-top_r .Y-top_ul{
    position: absolute;
    top: 20px;
    left:0;
    display: none;
    background: #fff;
    height: 186px;
}
#Y-top .Y-top_r .Y-top_ul li{
    float: left;
    padding:0;
    position: relative;
}
#Y-top .Y-top_r .Y-top_ul li a{
        display: block;
        text-decoration: none;
        padding-left: 21px;
        line-height: 30px;
        height: 30px;
        width: 120px;
        margin-left: 5px;
        margin-right: 5px;
        border-bottom: 1px dashed #ccc;
        color:#000;
}
#Y-top .Y-top_r .Y-top_ul li i{
    display: block;
    width: 20px;height: 20px;
    position: absolute;
    top: 4px;
    left: 0;
    background: url("../images/caidian.fw.png") no-repeat;
    background-position: -90px 0;
}
/*=======================头部菜单二级导航小图标========================*/
#Y-top .Y-top_r .Y-top_ul li:nth-child(2)>i{
        background-position: -120px 0;
}
#Y-top .Y-top_r .Y-top_ul li:nth-child(3)>i{
        background-position: -155px 0;
}
#Y-top .Y-top_r .Y-top_ul li:nth-child(4)>i{
        background-position: -225px 0;
}
#Y-top .Y-top_r .Y-top_ul li:nth-child(5)>i{
        background-position: -191px 0;
}
#Y-top .Y-top_r .Y-top_ul li:nth-child(6)>i{
        background-position: -264px 0;
}
/*===========================第一个头部菜单hover时的样式=============================*/
#Y-top .Y-top_r li:nth-child(1):hover .Y-top_ul{
        display:block;
        z-index: 1000;
}
#Y-top .Y-top_r>li:first-child:hover>i{
    background-position: 0 0;
}
#Y-top .Y-top_r>li:nth-child(1):hover>a{
    background: #fff;
    color:#FF4500;
}
/*========================第二个头部菜单 Y-top_ul2===========================*/
#Y-top .Y-top_r .Y-top_ul2{
    position: absolute;
    top: 20px;
    left:0;
    display: none;
    background: #fff;
    z-index: 1000;
    width: 200px;
}
#Y-top .Y-top_r .Y-top_ul2 img{
    width: 50px;
    height: 50px;
}
#Y-top .Y-top_r .Y-top_ul2 button{
    display: inline-block;
    margin-left: 56px;
    width: 85px;
    height: 23px;
    border-radius: 10px;
    background: #000;
    color:#fff;
    cursor:pointer;
}
#Y-top .Y-top_r .Y-top_ul2>li{
    width: 195px;
    float: left;
    height: 76px;
    margin-left: 10px;
}
#Y-top .Y-top_r .Y-top_ul2>li i{
    display: inline-block;
    width: 50px;
    height: 39px;
    position: absolute;
    top: 20px;
    left: 10px;
    background: url("../images/icon_gouwu1.png") no-repeat;
}
#Y-top .Y-top_r .Y-top_ul2>li a{
    display:inline-block;
   /* height: 76px;
    width: 146px;
    margin-left: 65px;*/
    padding:10px 10px  0 0;
    word-break:break-all;
    color:#000;
    text-decoration:none;
}

#Y-top .Y-top_r .Y-top_ul2>li a span:nth-child(1){
    text-decoration: underline;color:black;
}


/*===================第二个头部菜单hover样式===========================*/

#Y-top .Y-top_r li:nth-child(2):hover .Y-top_ul2{
        display:block;
}
#Y-top .Y-top_r>li:nth-child(2):hover>i:first-child{
        background-position: -30px -20px;/*购物车*/
}  
#Y-top .Y-top_r>li:nth-child(2):hover>.icon_sanjiao{
        background-position: 0 0px; /*三角形*/
}
#Y-top .Y-top_r>li:nth-child(2):hover{
    background: #fff;
    color:#FF4500;
}

/*==============我是一条华丽的分割线=================*/

#lmg-search{background:#FF4500;z-index: 100;}
#lmg-search h1{width:250px;height:66px;background:url("../images/logo.png") no-repeat center center;}
#lmg-search .lmg-search-c{margin-left:89px;width:438px;padding-top:7px;}
#lmg-search .lmg-search-c input:first-child{width:322px;height:30px;padding-left:30px;background:#CFCFCF;border:1px solid #634A40;}
#lmg-search .lmg-search-c input:nth-child(2){width:82px;height:30px;background:#634A40;border:1px solid #634A40;}
#lmg-search .lmg-search-c form span{line-height:26px;font-size:12px;}
#lmg-search .lmg-search-c form span a{color:white;text-decoration: underline;}
#lmg-search .lmg-search-r{position: relative;width:130px;height:66px;padding-left:30px;line-height: 66px;}
#lmg-search .lmg-search-r i{display:block;width:30px;height:26px;position:absolute;left:0px;top:20px;background:url("../images/1.fw.png") no-repeat -80px 0;}
#lmg-search .lmg-search-r span{font-size:18px;color:white;}

/*==============我是一条帅气的分割线=================*/

#lmg-links{background:#404040;}

/*===========导航条样式==============*/
#lmg-links .Y-nav1{
    float: left;
    width:210px;
    height: 30px;
    background: #404040;
    position: relative;

}
#lmg-links .Y-nav1>i{
    width: 23px;
    height: 18px;
    background: url("../images/caidian.fw.png") no-repeat;
    background-position: -298px 0;
    position: absolute;
    top: 8px;
    right: 0;
}
#lmg-links .Y-nav1>a{
    display: block;
        width: 164px;
        height: 30px;
        line-height: 30px;
        padding-right: 36px;
        padding-left: 10px;
        color:#CFCFC6;
        font-weight: bold;
}
#lmg-links .Y-nav1:hover .Y-nav3{
    display: block;
}

/*=======================菜单二级导航 Y-nav3========================*/
#lmg-links .Y-nav3{
    display:none;
    width: 210px;
    height: 423px;
    position: absolute;
    top: 30px;
    z-index: 1000;
    box-sizing: border-box;
}
#lmg-links .Y-nav3 li{
    width: 210px;
    height: 71px;
    padding-left: 10px;
    color:#5A5A5A;
    background-color:#fff;
    box-sizing: border-box;
}
#lmg-links .Y-nav3 li h5{
    height: 30px;
    line-height: 30px;
    position: relative;
}
#lmg-links .Y-nav3 li i{
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 17px;
    height: 23px; 
    background: url("../images/caidian.fw.png") no-repeat;
    background-position: -406px 0;                  
}
#lmg-links .Y-nav3 li a{
    color:#5A5A5A;
}
#lmg-links .Y-nav3 li:nth-child(even){
    background: #F1F1F1;
}
#lmg-links .Y-nav3 li:nth-child(even) h5>i{
    background-position: -433px 0;
}




/*=============================开始设置二级导航hover时li,a,i的样式显示三级导航========================*/
#lmg-links .Y-nav3 li:hover{
    background:#2B2B2B;
    color:#CFCFCF;
    z-index: 1000;
}
#lmg-links .Y-nav3 li:hover>a{
    color:#CFCFCF;  
}
#lmg-links .Y-nav3 li a:hover{
    text-decoration: underline;     
}
#lmg-links .Y-nav3 li:hover h5>i{
    display:none;
}      
#lmg-links .Y-nav3 li:hover .Y-nav4{
    display: block;
}
/*=============================三级导航 Y-nav4=======================================*/
#lmg-links .Y-nav4{
    display:none;
    position: absolute;
    top: 0;
    left: 210px;  
    background: #404040;
    width: 622px;
    height: 430px;
    z-index: 1000;
} 
/*=================================三级导航左边 Y-nav4_l=======================*/
#lmg-links .Y-nav4 .Y-nav4_l{
    display: inline-block;
    padding:0 10px 0 10px;
    width: 410px;
    height: 100%;
    float: left;
    border-right: 1px dashed #ccc;
}
#lmg-links .Y-nav4 .Y-nav4_l h6{
    height: 32px;
    line-height: 32px;
    border-bottom: 3px solid #ccc;
    color:#99957C;
}
#lmg-links .Y-nav4 .Y-nav4_l>a{
    display: inline-block;
    width: 125px;
    height: 25px;
    line-height: 25px;
    color:#C6C4C6;
}
/*===============================三级导航右边 Y-nav4_r===========================*/
#lmg-links .Y-nav4 .Y-nav4_r{
    width: 170px;
    display: inline-block;
    float: left;
    padding:0 10px 0 10px ;
} 
#lmg-links .Y-nav4 .Y-nav4_r h6{
    margin-top: 10px;
    padding-left: 10px;
     height: 23px;
     width: 137px;
    line-height: 23px;
    background: #5A5A5A;
    color:#FFF;
    position: relative;
}
#lmg-links .Y-nav4 .Y-nav4_r h6>i{
    position: absolute;
    width: 20px;
    height: 23px;
    top: 0;
    right:0;
    background: url("../images/caidian.fw.png") no-repeat;
    background-position: -461px 0;
}
#lmg-links .Y-nav4 .Y-nav4_r a{
    display: block;
    height: 25px;
    line-height: 25px;
    position: relative;
    color:#C6C4C6;
}
#lmg-links .Y-nav4 .Y-nav4_r i{
    position: absolute;
    width: 15px;
    height: 19px;
    top: 3px;
    right: 0;
     background: url("../images/caidian.fw.png") no-repeat;
    background-position: -497px 0;
}
#lmg-links .Y-nav4 .Y-nav4_r a:nth-child(2)>i{
    background-position: -373px -28px;
    width: 21px;
    height: 15px;
     position: absolute;
      top: 6px;
    right: 65px;
}

#lmg-links .container>ul{
    height: 30px;
}
#lmg-links .container>ul li{
    float:left;
    position:relative;
}
#lmg-links .container>ul li a{
    line-height: 30px;
    color:white;
    display: block;
}
#lmg-links .container>ul li span{
    padding:0 15px;
    border-right:1px solid white;
}
#lmg-links .container>ul li:last-child span{
    border-right:0 none;padding-left:27px;
}
#lmg-links .container>ul li:last-child i{
    display:block;
    width:21px;
    height:12px;
    background:url("../images/1.fw.png") no-repeat -150px 0;
    position:absolute;
    left:3px;
    top:9px;
}
#lmg-links .container>ul li:hover{
    background:#E54205;
    margin-left:-1px;
}

#lmg-links .container>ul li:last-child:hover span{
    border-right:1px solid #E54205;
}
#lmg-links .container>ul li:last-child:hover{
    margin-left: -1px;
}
#lmg-links .container>ul li:hover span{
    border-right-color:#E54205; 
    border-left:1px solid #E54205; 
}
#lmg-links .container>span{
    display:block;
    width:80px;
    height:30px;
    border-left:1px solid white;
    padding-left:6px;
    padding-right:63px;
    line-height: 30px;
    position:relative;
}
#lmg-links .container>span i{
    display:block;
    width:61px;
    height:21px;
    background:url("../images/links4.png");
    position:absolute;
    right:0px;
    top:4px;
}
#form .container{border-bottom:2px solid #5A5A5A;}
#form .container h6{
    font-size:18px;color:#5A5A5A;line-height:38px;padding-top: 14px;
    border-bottom:2px solid #5A5A5A;width: 980px;}



#form .add_l{box-sizing:border-box;width: 450px;height: 447px;
margin:25px 0;border-right:1px dotted #ccc;}
#form .add_l form{padding-left:30px;padding-top:20px;}
#form .add_l .lab{padding-top:20px;}
#form .togeter{
    width: 345px;height: 35px;border:1px solid #ccc;
    margin-bottom:20px;
}
#form .add_l .btn{width: 67px;height: 32px;
    background:#F88A1A;color:#fff;font-weight:bold;
}



#form .add_r{padding:25px 0 0 70px;}
#form .add_r .del{width: 345px;height: 45px;#FFFFCC;border:1px dashed red;background-color:#FFFFCC;margin:25px 0;}
#form .add_r .del span:first-child{
    font-size:11px;line-height: 20px;color:red;
}
#form .add_r .del>span:last-of-type{
    font-size:11px;line-height: 20px;color:green;
}
#form .add_r .del a{float:right;}
#form a{display:inline-block;margin-left:2px;color:blue;border-bottom:1px solid blue;}

#form .add_r .sub{width: 67px;height: 32px;
    background:#F88A1A;color:#fff;font-weight:bold;margin-top:20px;}


/*#footer{height: 330px;background: blue;}*/
#footer .container{margin-top:20px;border-top: 3px solid #000;}
#footer .container dl{padding-right:45px;}
#footer .container dl:first-child{padding:0 68px 0 10px;}

#footer .container dl dt{font-size:10px;font-weight:bold;padding:14px 0 10px 0;color:#333;}
#footer .container dl dd a{display:block;line-height:18px;color:#666;padding-top:5px;
    position:relative;
}

#footer .container dl:last-of-type a{padding-left:24px;}
#footer .container dl:last-child span{display:inline-block;color:red;line-height:0;}

#footer .container dl:last-child p{color:#666;line-height: 10px;}


#footer .container .last  dd:nth-of-type(1) a i{
    width:19px;height:20px;
    background:url("../images/fff.fw.png") no-repeat 0 0;
    position:absolute;
    top:10px;
    left:2px;
}
#footer .container .last dd:nth-of-type(2) a i{
    width:19px;height:20px;
    background:url("../images/fff.fw.png") no-repeat -25px 0;
    position:absolute;
    top:10px;
    left:2px;
}
#footer .container .last dd:nth-of-type(3) a i{
    width:19px;height:20px;
    background:url("../images/fff.fw.png") no-repeat -50px 0;
    position:absolute;
    top:12px;
    left:2px;
}

#footer .container .eml{width: 243px;padding-top:10px;}
#footer .container .eml p{font-size:12px;color:#333;}
#footer .container .eml input:nth-of-type(1){width: 170px;height: 22px;border:1px solid #333;margin-top:8px;}
#footer .container .eml form{position:relative;}
#footer .container .eml form i{
    width:14px;height:11px;
    background:url("../images/fff.fw.png") no-repeat -80px 0;
    position:absolute;
    top:45px;
    left:47px;}
#footer .container .eml input:nth-of-type(2){
    width: 80px;height: 22px;background:#444;color:#fff;
margin-top:8px;padding-left:18px;font-size: 12px;}
#footer .imgs{
  width:738px;height: 65px;
  background:url("../images/fl.png") no-repeat;
    margin:50px auto;
}